body {
    font-family: sans-serif;
    background-color: pink;
    margin-top:50px;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: normal;
}

.img-medium {
    margin-top:100px;
    height: 200px;
}
u {
    text-decoration: underline;
}

