body {
    font-family: sans-serif;
    background-color: purple;
    margin-top: 0;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.vertical_line {
    height:200px;
    width:10px;
    background:#000;
}
