body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
    margin-right:200px;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.verticalLine {
    border-left: thick solid #ff0000;
}
